DB_URL=jdbc:postgresql://localhost:5432/atlantabanking
DB_USERNAME=your_username
DB_PASSWORD=your_password

JWT_SECRET=your_long_secure_secret

EUREKA_SERVER=http://localhost:8761/eureka

SERVER_PORT=8083